ul{
    list-style: none;
    padding-left: 0;
}
.avatar-group{
    width: 38px;
    height: 100%;
    float:left
}
.avatar-group .avatar{
    width: 38px;
    height: 38px;
    border-radius:50% ;
    margin-top: 10px;
    margin-left: 20px;
}
.question-group{
    margin-top: 20px;
    width: 660px;
    margin-left: 120px;
    margin-right: 20px;
 }
question-title a{
    color: #225599;
    text-shadow: 0 0 2px black;
}
.question-info{
    text-align: right;
    margin-right: 20px;
}
.question-info .question-author{
    margin-right: 20px;
}
ul li{
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}