{%  extends 'base.html' %}
{% block content %}
    <form action="" method="POST">
        <div class="form-group col-sm-6 form-book">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="书名" name="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="作者" name="author">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>

{% endblock %}